<ons-template id="gametypes_index.html">
<ons-page ng-controller="gametypesController as gametypes">
	<ons-toolbar>
		<div class="left"><ons-back-button>戻る</ons-back-button></div>
		<div class="center">試合形式登録</div>
	</ons-toolbar>
	<ons-list>
		<ons-list-header>試合形式一覧</ons-list-header>
		<ons-list-item tappable modifier="chevron"
			ng-repeat="gameType in gametypes.typeList"
			ng-click="gametypes.proceed(gameType)">
		{{gameType.name}}
		</ons-list-item>
		<ons-list-item tappable modifier="chevron"
			ng-click="gametypes.proceed()">
		＋試合形式を追加...
		</ons-list-item>
	</ons-list>
</ons-page>
</ons-template>

<ons-template id="gametypes_detail.html">
<ons-page ng-controller="typedetailController as typedetail">
	<ons-toolbar>
		<div class="left"><ons-back-button>戻る</ons-back-button></div>
		<div class="center">試合形式登録</div>
	</ons-toolbar>
	<div ng-show="!typedetail.isLoading">
		<ons-list>
			<ons-list-header>名前</ons-list-header>
			<ons-list-item>
				<ons-input type="text" modifier="underbar" ng-model="typedetail.type.name"></ons-input>
			</ons-list-item>
		</ons-list>
		<ons-list>
			<ons-list-header>正規試合</ons-list-header>
			<ons-list-item>
				<ons-switch ng-model="typedetail.type.isRegular"></ons-switch>
			</ons-list-item>
		</ons-list>
		<ons-row style="margin-top: 30px">
			<ons-col class="in-center">
				<ons-button ng-click="typedetail.updateType()">
				この情報で登録
				</ons-button>
			</ons-col>
			<ons-col class="in-center" ng-if="typedetail.register">
				<ons-button style="background-color: #F40"
					ng-click="typedetail.confirmDelete()">
				削除する
				</ons-button>
			</ons-col>
		</ons-row>
		<div class="next-row"></div>
	</div>
	<div ng-show="typedetail.isLoading">
		<ng-include src="'loading.html'"></ng-include>
	</div>
</ons-page>
</ons-template>